@import '../../styles/responsive.scss';

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {

      @include sm {
        display: none;
      }
    }
    .notification {
      position: relative;
      span {
        position: absolute;
        top: -10px;
        right: -10px;
        color: white;
        background-color: red;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-style: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}